* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    color: #cccccc;
    overflow: hidden;
}

.container {
    text-align: center;
}

.button-container {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 0 10px;
    background: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #21a1f1;
}

.game-frame {
    background: rgba(40, 44, 52, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#canvas {
    display: block; /* Ensures there's no extra space */
    width: 100%;
    height: 100%;
    image-rendering: optimizeSpeed;
    -webkit-interpolation-mode: nearest-neighbor;
    border: 0;
}
